<form role="form" ng-submit="submit()">
    <div class="form-group">
        <label for="genres">Select genre:</label>
        <select class="form-control" ng-model="chosenGenre" id="genres">
            <option value="">--All--</option>
            <option ng-repeat="genre in genres" value="{{genre.id}}">{{genre.name}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default">Filter movies</button>

</form>

<button type="button" class="btn btn-default" ng-click="showVisualization()">Visualize</button>


<div ng-show="visualizationMode">
    Test
</div>

<div id="chart">
    <svg></svg>
</div>

<table class="table" ng-hide="filteredMovies.length === 0">
    <tr>
        <th>Poster</th>
        <th>Titel</th>

    </tr>
    <tr ng-repeat="movie in filteredMovies">
        <td><img src="{{baseUrl}}w92{{movie.poster_path}}" alt="Description"/></td>
        <td>{{movie.original_title}}</td>
    </tr>
</table>

