<form role="form" ng-submit="submit()">
    <div class="form-group">
        <label for="genres">Select genre:</label>
        <select class="form-control" ng-model="chosenGenre" id="genres">
            <option value="">--All--</option>
            <option ng-repeat="genre in genres" value="{{genre.id}}">{{genre.name}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default">Search series</button>
</form>

<div id="chart">
    <svg></svg>
</div>


<table class="table" ng-hide="filteredSeries.length === 0">
    <tr>
        <th>Poster</th>
        <th>Titel</th>
        <th>Description</th>

    </tr>
    <tr ng-repeat="movie in filteredSeries">
        <td><img src="{{baseUrl}}w92{{movie.poster_path}}" alt="Description"/></td>
        <td>{{movie.name}}</td>
        <td>{{movie.overview}}</td>
    </tr>
</table>

