<div class="container">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav ">
                        <li class="navbar-item" ui-sref-active="navbar-active">
                            <a ui-sref="app.home" class="nav-entry">Find series </a>
                        </li>
                        <li class="navbar-item" ui-sref-active="navbar-active">
                            <a ui-sref="app.about" class="nav-entry"> Find movie </a>
                        </li>
                        <li class="navbar-item" ui-sref-active="navbar-active">
                            <a ui-sref="app.contact" class="nav-entry">About</a>
                        </li>
                    </ul>
                    <img src="img/COUCH.svg" class='logo'>
                </div>
            </div>
        </nav>
    </div>
</div>

