<div class="container">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="item in items" class="navbar-item" ui-sref-active="navbar-active">
                            <a ui-sref="app.{{ item | lowercase }}">{{ item }} </a>
                        </li>
                        <img src="img/COUCH.svg" height="38" align="left">
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

